useDynLib(icamix)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "par", "plot")
importFrom("stats", "kmeans", "plot.ts")
exportPattern("^[[:alpha:]]+")
S3method(plot, EMFASTICAALG)
S3method(summary, EMFASTICAALG)
S3method(print, summary.EMFASTICAALG)
S3method(print, EMFASTICAALG)
S3method(plot, summary.EMFASTICAALG)
